.featured-image-wrapper {
  position: relative;
  /*padding-left: 0; /* Override container padding. */
  /*padding-right: 0; /* Override container padding. */
}

.featured-image {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
